# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List different Data Science Tools
- Basic Arithmetic Calculation

Some of the popular languages that Data Scientists use are:
1. Python
2. C#
3. Java
4. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. TensorFLow (used for machine learning and AI)
4. Sci-kit Learn (used for machine learning)
5. Seaborn (data visualisation)

|Database Management|Data Integration|Data Visualisation Tools|Code Asset Management|Development Environments|
|-------------------|----------------|------------------------|---------------------|------------------------|
|MySQL for Relational Database  Management|Apache Airflow|Tableau and PowerBI|Git| Jupyter Notebooks|
|Apache Cassandra for NoSQL Databases|Apache Kafka|Cognos Analytics| GitHub (Web-Based)| RStudio |
|Apache Hadoop for Big Data analytics|
|Apache Spark for Big Data analytics|

Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
x = (3*4)+5 #This a simple arithmetic expression to mutiply then add integers
x

17

In [3]:
m = 200
h = m/60 #This will convert 200 minutes to hours by diving by 60
h

3.3333333333333335

## Author
Kevin Calvache Ramos